.nuxt/*
src/static/*
.github/*
.idea/*
environments/*
public/*
_nuxt/*
*.example
node_modules

.eslintrc.js
src/assets/fonts
*.css
*.eot
*.svg
*.ttf
*.woff
*.woff2
successCheckmark.json
sw.js
.nuxt
src/static
.firebase
.github
.idea
*yarn*
environments
public
tests
*.sh