#__nuxt,
#__layout {
  width: 100%;
  min-height: 100vh;
}

#nuxt-loading {
  will-change: opacity;

  & > div {
    will-change: transform;
  }
}

body {
  font-family: $mainFontFamily;
  color: $black2;
  width: 100%;
  min-height: 100vh;
}

a {
  &:hover {
    color: darken($violet, .5)
  }
}

head {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.desktopOnly {
  @media screen and (max-width: $mobile+1) {
    display: none !important;
  }
}

.mobileOnly {
  @media screen and (min-width: $mobile) {
    display: none !important;
  }
}

.fitRightSide {
  z-index: 1;
  width: 57% !important;
  left: 43% !important;

  @media screen and (min-width: 1300px) {
    left: 600px !important;
    width: calc(100% - 600px) !important;
  }
}
