//Colors
$white: #fff;
$white2: #fbfbfb;
$white3: #f4f5f7;
$light: #e1e4e8;
$gray: #8d9aac;
$dark: #243955;
$dark2: #4e566d;
$dark3: #5d768e;
$majorDark: #171a49;
$black2: #3c4257;
$black: #000;
$darkBlue: #272640;
$violet: #5436d6;
$violetOpacity: rgba(84, 54, 214, 0.25);
$lightViolet: lighten(
  $color: $violet,
  $amount: 10,
);
$red: #f25f5c;
$green: #057a55;
$rampGreen: #059669;

//Fonts
$firaSans: "Fira Sans", "sans-serif";
$firaCode: "Fira Code", "sans-serif";
$firaCondensed: "Fira Sans", "sans-serif";

$mainFontFamily: $firaSans;

// Transitions
$transition: 0.2s ease;
$transition2: 0.3s ease;

/* Responsive */
$mobile: 768px;
$breakpoint1: 1100px;
$maxWidth: 1370px;

/* max-width */
$maxWidthDefault: 660px;
$maxWidthMobile: 95rem;
