//Colors
$white: #fff;
$white2: #FBFBFB;
$white3: #F4F5F7;
$light: #E1E4E8;
$gray: #8D9AAC;
$dark: #243955;
$dark2: #4E566D;
$dark3: #5D768E;
$majorDark: #171A49;
$black2: #3C4257;
$black: #000;
$darkBlue: #272640;
$violet: #5436D6;
$lightViolet: lighten($color: $violet, $amount: 10);
$red: #F25F5C;
$green: #057A55;


//Fonts
$firaSans: 'Fira Sans', 'sans-serif';
$firaCode: 'Fira Code', 'sans-serif';
$firaCondensed: 'Fira Sans', 'sans-serif';

$mainFontFamily: $firaSans;


/* Transitions */
$transition: .2s ease;
$transition2: .3s ease;


/* Responsive */
$mobile: 768px;
$breakpoint1: 1100px;
$maxWidth: 1370px;
