//Colors
$white: #fff;
$white2: #FBFBFB;
$white3: #F4F5F7;
$light: #E1E4E8;
$gray: #8D9AAC;
$dark: #243955;
$dark2: #4E566D;
$majorDark: #171A49;
$black2: #3C4257;
$black: #000;
$violet: #5436D6;
$lightViolet: lighten($color: $violet, $amount: 10);
$red: #F25F5C;
$green: #057A55;
/* $gray: #9EAEBB;
$black: #242424;
$violet: #4e529a;
$green: #1d9b4a;
$darkViolet: #171A49;
$lightViolet: #8c8dfc;
$red: #F25F5C; */


//Fonts
$firaSans: 'Fira Sans', 'sans-serif';
$firaCode: 'Fira Code', 'sans-serif';
$firaCondensed: 'Fira Sans Condensed', 'sans-serif';

$mainFontFamily: $firaSans;


/* Transitions */
$transition: .2s ease;
$transition2: .3s ease;


/* Responsive */
$mobile: 768px;
$maxWidth: 1370px;
