@import "../variables";

.connectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .tileContainer {
    width: max-content;
    cursor: pointer;

    .tile {
      position: relative;
      width: 130px;
      height: 130px;
      margin: 20px auto;
      padding: 20px;
      background-color: $white;
      border-radius: 27px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow $transition;
      will-change: box-shadow;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover .tile {
      box-shadow: 0 4px 8px #00000015;
    }


    .tileName {
      padding-top: 7px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
