.connectContainer {
  height: calc(100vh - 60px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tileContainer {
    width: max-content;
    cursor: pointer;

    &:hover .tile {
      box-shadow: 0 4px 8px #00000015;
    }

    .tile {
      position: relative;
      width: 130px;
      height: 130px;
      background-color: $white;
      border-radius: 27px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow $transition;
      will-change: box-shadow;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .tileIcon {
        position: absolute;
        top: -24px;
        right: -24px;
        width: 48px;
        height: 48px;
        opacity: 0;
        border-radius: 50%;
        background-color: $white;
        line-height: 48px;
        font-size: 20px;
        color: $violet;
      }
    }

    .tileName {
      font-size: 18px;
      font-weight: 600;
      padding-top: 10px;
    }
  }

  @media screen and (max-width: $mobile) {
    height: calc(100% - 60px);
    @media screen and (max-height: 630px) {
      height: calc(100% - 30px);
    }
  }
}
