.indexPage {
  width: 100%;

  .mainBtnsContainer {
    margin-top: 25px;

    .mainBtns {
      z-index: 3;
      display: flex;
      justify-content: center;

      button.defbtn.filled {
        line-height: 1.4;
        position: static;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        min-width: 300px;
        width: max-content;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 55px;
      }
    }
  }

  .successPage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, max-content) 1fr;
    // height: calc(100vh - 1rem - 45px - 80px);

    .customScrollList {
      min-height: 80px;
    }
  }

  @media screen and (max-width: $mobile) {
    .successPage {
      height: auto;

      .customScrollList {
        max-height: 50vh;
      }
    }
    .mainBtnsContainer {
      left: 0;
      bottom: 0;
      margin-top: 0;
      width: 100%;

      .mainBtns {
        position: fixed;
        bottom: -1px;
        left: 0;
        width: 100%;
        background-color: $white;
        padding: 10px 1.25rem;
        box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);

        .defbtn {
          height: 50px;
          width: 100% !important;
          font-size: 18px;

          &:last-child {
            width: 100%;
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.darkMode .indexPage {
  @media screen and (max-width: $mobile) {
    .mainBtnsContainer .mainBtns {
      background-color: $darkBlue;
    }
  }
}
