.indexPage {

  .mainBtnsContainer {
    margin-top: 25px;

    .mainBtns {
      display: flex;
      justify-content: center;
      button.defbtn.filled
      {
        padding: 7px 12px 7px 7px;
        line-height: 38px;
        position: static;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        width: 200px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 38px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .mainBtnsContainer {
      margin-top: 0;
      height: 80px;
      width: 100%;

      .mainBtns {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        padding: 10px 1.25rem;
        box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);

        .defbtn {
          height: 50px;
          font-size: 18px;
          &:last-child {
            width: 100%;
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
