.indexPage {
  width: 100%;

  .mainBtnsContainer {
    margin-top: 25px;

    .mainBtns {
      display: flex;
      justify-content: center;

      button.defbtn.filled {
        line-height: 1.4;
        position: static;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        min-width: 300px;
        width: max-content;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 4px;
        height: 55px;
      }
    }
  }

  /* @media screen and (min-width: 900px) {
    position: fixed;
    margin-left: calc((100% - 650px - 5rem) / 6) !important;
    width: 100%;
  } */
  @media screen and (max-width: $mobile) {
    .mainBtnsContainer {
      margin-top: 0;
      height: 80px;
      width: 100%;

      .mainBtns {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        padding: 10px 1.25rem;
        box-shadow: 0 32px 64px rgba(17, 17, 17, .08);

        .defbtn {
          height: 50px;
          font-size: 18px;

          &:last-child {
            width: 100%;
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
