.defaultLayout {
  width: 100%;
  display: grid;
  grid-template-columns: 43% 1fr;
  grid-template-rows: 100%;
  @media screen and (min-width: 1300px) {
    grid-template-columns: 600px 1fr;
  }

  .routerContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .routeMain {
      max-width: 650px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $mobile) {
    max-width: 650px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr;
    &,.routerContainer {

    }
  }
}
