@import "../variables";

.amountInputGroup {
  display: flex;
  align-items: center;
  width: max-content;
  height: 36px;
  padding-right: 2px;
  padding-left: 0;
  border: 1px solid $light;
  transition: $transition;
  transition-property: border-color;
  will-change: border-color;

  &:not(:disabled) {
    /* &:hover, &.focused {
      border-color: $light;

      .leftSide {
        .inputContainer {
          .penIcon {
            width: 15px;
            opacity: 1;
          }
        }
      }
    } */

    &.focused {
      border-color: $violet;
      .leftSide {
        .inputContainer {
          .penIcon {
            color: $violet;
          }
        }
      }
    }

    .leftSide {
      cursor: text;
    }
  }

  &.error {
    border-color: $red !important;

    .leftSide .inputContainer input {
      color: $red;
    }
  }

  &.hasUnderInput {
    .leftSide {
      height: 100%;
    }
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
    height: max-content;
    cursor: default;

    .inputContainer {
      display: flex;
      align-items: center;
      width: max-content;
      height: 18px;

      input, .sizeSpan {
        display: block;
        font-weight: 600;
        font-size: 16px;
        font-family: $firaSans;
      }

      input {
        position: relative;
        left: 2px;
        box-sizing: content-box;
        width: 0;
        min-width: 50px;
        height: 100%;
        padding: 0 2px;
        color: $black2;
        line-height: 18px;
        text-align: right;
        background-color: transparent;
        border: none;
        outline: none !important;
        transition: .05s ease;
        transition-property: width;
        will-change: width;

        &::placeholder {
          color: $gray;
          font-weight: 400;
          font-size: 14px;
        }
      }
      @media screen and (max-width: $breakpoint1)
      {
        max-width: 100px;
      }

      .sizeSpan {
        position: absolute;
        top: -9999px;
        left: -9999px;
        z-index: -9999;
        width: max-content;
        opacity: 0;
      }

      .penIcon {
        width: 15px;
        color: transparentize($color: $gray, $amount: 0.4);
        transition: $transition;
        transition-property: color;
        pointer-events: none;
        will-change: color;

        i {
          display: block;
          padding-left: 5px;
          font-size: 10px;
          line-height: 18px;
        }
      }
    }

    .underInput {
      color: $gray;
      font-size: 9px;
      font-family: $firaCondensed;
      line-height: 12px;
    }
  }

  .rightSide {
    width: max-content;
    height: max-content;
    padding-left: 7px;
  }
}
