.lineContainer {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: 65px 90px 1fr max-content;
  grid-template-rows: 100%;
  grid-column-gap: 5px;
  align-items: center;

  .lineItem {
    &:last-child {
      width: max-content;
      justify-self: end;
    }
  }

  .tokenItem {
    display: flex;
    align-items: center;

    .tokenImg {
      display: block;
      height: 16px;
      width: 16px;
      object-fit: contain;
      margin-right: 5px;
    }

    .tokenName {
      font-weight: 600;
      color: $majorDark;
      font-size: 12px;
    }
  }

  .amount {
    font-weight: 600;
    font-size: 16px;
    color: $black2;
    width: max-content;
    min-width: 30px;
    white-space: nowrap;
    transition: color $transition;
    will-change: color;
  }

  .alert {
    display: flex;
    align-items: center;

    .alertIcon {
      margin-right: 7px;
    }

    .alertText {
      font-size: 12px;
      line-height: 1.15;
    }
  }

  .amountInputGroup {
    position: relative;
    left: 4px;
  }

  .transactionLink {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-items: center;
    grid-column-gap: 5px;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  @media screen and (max-width: $mobile) {
    padding: 5px 0;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 45px 1fr max-content;
    grid-template-areas: "token L2 rightSide" "token L1 rightSide";

    .lineItem {
      &:nth-child(1) {
        grid-area: token;
      }

      &:nth-child(2) {
        grid-area: L2;
      }

      &:nth-child(3) {
        grid-area: L1;
      }

      &:nth-child(4) {
        grid-area: rightSide;
      }

      .amount {
        font-size: 14px;
      }

      .tokenItem {
        /* display: flex;
        flex-direction: column;
        align-items: center; */

        .tokenImg {
          margin-right: 0;
          margin-bottom: 2px;
        }
      }
    }
  }
}
