@import "../variables";

.lineContainer {
  display: grid;
  grid-column-gap: 5px;
  grid-template-rows: 100%;
  grid-template-columns: 65px 90px 1fr max-content;
  align-items: center;
  width: 100%;
  min-height: 40px;

  .lineItem {
    &:last-child {
      justify-self: end;
      width: max-content;
    }
    .loaderSpinnerContainer
    {
      margin-right: 7px;
    }
    .text-red
    {
      margin-right: 5px;
    }
    .address
    {
      color: #3C4257;
      font-weight: 300;
      font-size: 0.65rem;
      font-family: "Fira Code", sans-serif;
      line-height: 1.4;
      letter-spacing: -0.025em;
    }
  }

  .tokenItem {
    display: flex;
    align-items: center;

    .tokenName {
      color: $majorDark;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .amount {
    position: relative;
    width: max-content;
    min-width: 30px;
    max-width: 100%;
    overflow: hidden;
    color: $black2;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color $transition;
    will-change: color;
    &:after {
      position: absolute;
      z-index: 10;
      width: 2px;
      height: 100%;
      background: rgba(255,255,255,0.3);
    }
  }

  .alert {
    display: flex;
    align-items: center;

    .alertIcon {
      margin-right: 7px;
    }

    .alertText {
      font-size: 12px;
      line-height: 1.15;
    }
  }

  .amountInputGroup {
    position: relative;
    left: 4px;
  }

  .transactionLink {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    grid-column-gap: 5px;
    grid-template-columns: 1fr max-content;
    align-items: center;
    width: 100%;
    height: auto;

    .txHash {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: $mobile) {
    grid-template-areas: "token L2 rightSide" "token L1 rightSide";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 45px 1fr max-content;
    padding: 5px 0;

    .lineItem {
      &:nth-child(1) {
        grid-area: token;
      }

      &:nth-child(2) {
        grid-area: L2;
      }

      &:nth-child(3) {
        grid-area: L1;
      }

      &:nth-child(4) {
        grid-area: rightSide;
      }

      .amount {
        font-size: 14px;
      }

      .tokenItem {
        /* display: flex;
        flex-direction: column;
        align-items: center; */

        .tokenImg {
          margin-right: 0;
          margin-bottom: 2px;
        }
      }
    }
  }
}
