.maxHeightBlock {
  height: 0;
  transition: height $transition2;
  will-change: height;
  overflow: hidden;

}

@media (min-width: $mobile) {
  .maxHeightBlock {
    height: auto !important;
  }
  .far.fa-angle-down
  {
    display: none;
  }
}
