.animatedCheckmark {
  margin-top: -8%;
  margin-bottom: -8%;

  &.bigSuccessMark {
    svg {
      width: 75px !important;
      height: 75px !important;
      margin: 35px auto !important;
    }
  }
}
