.amountInputGroup {
  .underInput .minAmount {
    height: 0;
    opacity: 0;
    width: max-content;
    padding-left: 6px;
    transition: $transition;
    will-change: opacity, height, color;
    transition-property: opacity, height, color;
    overflow: hidden;
  }
  &.focused,&.error {
    .underInput .minAmount {
      height: 12px;
      opacity: 1;
      cursor: pointer;
    }
  }
  &.error {
    .underInput .minAmount {
      color: $red;
    }
  }
}
