.amountInputGroup {
  .underInput .minAmount {
    height: 0;
    opacity: 0;
    width: max-content;
    padding-left: 6px;
    transition: $transition;
    will-change: opacity, height, color;
    transition-property: opacity, height, color;
    overflow: hidden;
  }

  &.focused,
  &.error {
    .underInput .minAmount {
      height: 12px;
      opacity: 1;
      cursor: pointer;
    }
  }

  &.error {
    .underInput .minAmount {
      color: $red;
    }
  }
}

@media screen and (max-width: 450px) {
  .transactionTokenContainer:not(.rowLayout) {
    .lineContainer {
      grid-template-areas: "token L2" "token L1" "rightSide rightSide";
      grid-template-columns: 45px 1fr;
      grid-template-rows: repeat(3, max-content);

      .lineItem {
        .amount {
          margin-left: auto;
        }
        .text-red {
          margin-right: 0;
        }
      }
      .lineItem:nth-child(4) {
        width: 100%;

        .amountInputGroup {
          width: 100%;
          left: 0;
          display: grid;
          grid-template-columns: 1fr max-content;
          grid-template-rows: 100%;

          .leftSide {
            width: 100%;

            .amInputContainer {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
