@import "../variables";

.valuesBlockContainer {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .valuesBlockSecondary {
    height: max-content;
  }

  .valuesBlockRight {
    text-align: right;
  }

  .valuesLeftBottom, .valuesRightBottom {
    padding-top: 1px;
  }

  .address {
    font-family: $firaCode;
    color: $black2;
    font-size: 0.65rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -0.025em;
  }

  .headline {
    font-family: $firaCondensed;
    color: $dark;
    font-size: 16px;
    line-height: 1.37;
    font-weight: 400;

    &.big {
      font-size: 20px;
    }
  }

  .value {
    color: $black2;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;

    &.big {
      font-size: 16px;
    }
  }

  .secondaryValue {
    color: $gray;
    font-size: 0.65rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -0.025em;
    @media screen and (max-width: $breakpoint1) {
      font-size: 14px;
      line-height: 22px;
    }
  }


  /* @media screen and (max-width: $breakpoint1) {
    &.bottomOnHover {
      &:hover {
        .valuesBlockSecondary {
          &.valuesLeftBottom, &.valuesRightBottom {
            height: 15.5px;
            opacity: 1;
          }
        }
      }
      .valuesBlockSecondary {
        &.valuesLeftBottom, &.valuesRightBottom {
          height: 0;
          opacity: 0;
          transition: $transition;
          transition-property: opacity, height;
          will-change: opacity, height;
        }
      }
    }
  } */

  @media screen and (max-width: 340px) {
    .address {
      font-size: 0.52rem;
    }
  }
}
