.connectedWallet {
  .address {
    position: relative;
    cursor: pointer;
    transition: border-color $transition;
    border-bottom: 1px dashed $black;

    &:hover {
      color: $lightViolet;
      border-color: $lightViolet;

      .copyIcon {
        opacity: 1;
      }
    }

    &:active {
      transition-duration: 0.001s;
      color: lighten($color: $lightViolet, $amount: 10);
    }

    .dots {
      display: none;
    }

    @media screen and (max-width: 1155px) {
      .addressMiddle {
        display: none;
      }

      .dots {
        display: inline;
      }
    }

    .copyIcon {
      position: absolute;
      color: $lightViolet;
      left: 103.5%;
      top: 42%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity $transition;
      will-change: opacity;
    }
  }

  .headline {
    &:hover {
      color: $violet;
    }
  }

  .vue-popover {
    position: fixed;
    color: $lightViolet;
    width: fit-content !important;
  }
}
