.connectedWallet {
  .address {
    cursor: pointer;
    transition: transform $transition;
    will-change: transform;

    &:hover {
      .copyIcon {
        opacity: 1;
      }
    }

    &:active {
      color: $lightViolet;
    }

    .copyIcon {
      position: absolute;
      left: 105%;
      top: 42%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity $transition;
      will-change: opacity;
    }
  }

  .vue-popover {
    position: fixed;
    color: $lightViolet;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content !important;
  }
}
