.zk-footer-space {
  width: 100%;
  height: 60px;
}

.zkFooterContainer {
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  align-self: end;

  a,
  span {
    @apply text-sm font-light leading-normal;
  }

  @media screen and (max-width: $mobile) {
    height: 73px;
    text-align: center;
    bottom: 1rem;
  }

  .colorTheme {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparentize($color: $gray, $amount: 0.7);
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    transition: background-color $transition;
    will-change: background-color;

    &:hover {
      background-color: transparentize($color: $gray, $amount: 0.5);
    }

    &.dark i {
      transform: rotate(-180deg);
    }

    i {
      transition: $transition;
      transition-property: transform;
      will-change: transform;
    }
  }

  .rightSide {
    @apply flex items-baseline w-full text-right justify-end;

    .system-info {
      @apply flex items-baseline;
    }
  }

  #system-b-popover {
    cursor: help;
  }
}

.darkMode .zkFooterContainer .rightSide {
  .linkDefault {
    font-weight: 400;
    color: $lightViolet;
  }
}

.defaultLayout {
  @media screen and (min-width: $mobile) {
    &:not(.loggedIn) {
      .zk-footer-space {
        display: none;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &.footerUpStyle {
      .zk-footer-space {
        height: 110px;
      }

      .zkFooterContainer {
        padding-bottom: 80px;
      }
    }
  }
}

.darkMode .zkFooterContainer {
  .colorTheme {
    background-color: transparentize($color: $black2, $amount: 0.5);

    &:hover {
      background-color: transparentize($color: $black2, $amount: 0.3);
    }
  }
}
