.infoBlockContainer {
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);

  .infoBlock {
    position: fixed;
    width: 43vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content) 1fr;

    .valuesBlockContainer {
      align-items: flex-start;
      align-items: center;
    }

    .logo-container {
      display: inline-flex;

      .zkSyncLogo {
        @apply mr-2;

        height: 1.8rem;
        max-height: 100%;
      }
    }
    .brandContainer {
      .networkName {
        @media screen and (max-width: $mobile) {
          top: auto;
        }
      }
    }

    sup {
      top: -1em;
    }

    header {
      @media screen and (min-width: $mobile+1) {
        height: 45px;
      }
    }

    .transactionsList {
      height: max-content;
      max-height: 40vh;
    }

    .footerContainer {
      z-index: 1;
      height: max-content;
      align-self: end;

      .zkSyncFooter {
        z-index: -1;
        width: 100%;
        height: auto;
        opacity: 0.6;
      }
    }

    footer {
      width: 100%;
      height: max-content;
    }

    .zkSyncLogoFull {
      height: 2.5rem;
    }

    @media screen and (max-width: $mobile) {
      position: relative;
      width: 100%;
      height: max-content;

      .valuesBlockContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 0.5rem;
        white-space: nowrap;
        margin: 0;

        .valuesBlockRight .valuesBlockSecondary > div {
          height: 100%;
          min-height: 36px;

          .secondaryValue {
            font-size: 0.65rem !important;
          }
        }

        .valuesBlockLeft {
          max-width: 70%;
        }


        &.noAddressPadding .valuesBlockRight .valuesBlockSecondary {
          flex-basis: auto;
          width: auto;
          overflow: hidden;

          .address
          {
            max-width: calc(100% - 0.5rem);
            overflow: hidden;
            min-height: 0;
          }
        }

      }
      .infoBlock {
        height: auto;
        max-height: 45vh;
        grid-template-rows: max-content 1fr repeat(2, max-content);

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .transactionsList {
          height: 100%;
          max-height: initial;
          min-height: initial;
        }
      }
    }
  }

  .linkDefault {
    font-weight: 300;
    font-size: 14px;
  }

  .darkMode .infoBlockContainer {
    background-color: $darkBlue;

    .linkDefault {
      font-weight: 400;
      color: $lightViolet;
    }
  }

  .border-b-2, .border-b-1 {
    border-bottom: 1px !important;

    &:last-of-type {
      display: none;
    }
  }

}
