.infoBlockContainer {
  z-index: 4;
  width: 100%;
  box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);
  overflow: auto;
  height: 100%;

  .infoBlock {
    position: relative;

    header {
      @media screen and (min-width: $mobile+1) {
        height: 45px;
      }
    }

    .footerContainer {
      z-index: 1;
      height: 145px;

      .zkSyncFooter {
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
      }
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 25px;
      width: 100%;
      height: max-content;
    }
  }
  .zkSyncLogoFull
  {
    height: 2.5rem;
  }

  @media screen and (max-width: $mobile) {
    /* box-shadow: none; */
    height: max-content;

    .infoBlock {
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .linkDefault
  {
    font-size: 14px;
    font-weight: 300;
  }
}
