.infoBlockContainer {
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);

  .infoBlock {
    position: fixed;
    width: 43vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content) 1fr;
    @media screen and (min-width: 1300px) {
      width: 600px;
    }
    @media screen and (min-width: $mobile) {
      .totalTokensList {
        max-height: 19vh;
        overflow: auto;
      }
    }

    .valuesBlockContainer {
      align-items: center;
    }

    .logo-container {
      display: inline-flex;

      .zkSyncLogo {
        @apply mr-2 relative top-0.5;

        height: 1.8rem;
        max-height: 100%;
      }
    }

    .brandContainer {
      .networkName {
        position: absolute;
        left: 100%;
        top: -0.4em;

        @media screen and (max-width: $mobile) {
          left: auto !important;
          top: auto;
        }
      }
    }

    sup {
      top: -1em;
    }

    header {
      @media screen and (min-width: $mobile+1) {
        height: 45px;
      }
    }

    .transactionsList {
      height: max-content;
      max-height: 30vh;
    }

    .footerContainer {
      z-index: 1;
      height: max-content;
      align-self: end;

      .zkSyncFooter {
        z-index: -1;
        width: 100%;
        height: auto;
        opacity: 0.6;
      }
    }

    footer {
      width: 100%;
      height: max-content;
    }

    @media screen and (max-width: $mobile) {
      position: relative;
      width: 100%;
      height: max-content;

      .valuesBlockContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 0.5rem;
        white-space: nowrap;
        margin: 0;

        .valuesBlockRight .valuesBlockSecondary > div {
          height: 100%;
          min-height: 36px;

          .secondaryValue {
            font-size: 0.65rem !important;
          }
        }

        .valuesBlockLeft {
          max-width: 70%;
        }

        &.noAddressPadding .valuesBlockRight .valuesBlockSecondary {
          flex-basis: auto;
          width: auto;
          overflow: hidden;

          .address {
            max-width: calc(100% - 0.5rem);
            overflow: hidden;
            min-height: 0;
          }
        }
      }
      .infoBlock {
        height: auto;
        max-height: 33vh;
        grid-template-rows: max-content 1fr repeat(2, max-content);

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .transactionsList {
          height: 100%;
          max-height: initial;
          min-height: initial;
        }
      }
    }
  }

  .linkDefault {
    font-weight: 300;
    font-size: 14px;
  }

  .darkMode .infoBlockContainer {
    background-color: $darkBlue;

    .linkDefault {
      font-weight: 400;
      color: $lightViolet;
    }
  }

  .border-b-2,
  .border-b-1 {
    border-bottom: 1px !important;

    &:last-of-type {
      display: none;
    }
  }

  @media (min-width: $mobile) {
    .footerContainer {
      margin-bottom: -10px;
    }
  }
}

.valuesBlockContainer .address {
  position: relative;
  width: max-content;
  min-width: 30px;
  max-width: 100%;
  overflow: hidden;
  color: $black2;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color $transition;
  will-change: color;

  &::after {
    position: absolute;
    z-index: 10;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
  }
}
