@import "../variables";

.infoBlockContainer {
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 32px 64px rgba(17, 17, 17, 0.08);

  .infoBlock {
    position: relative;

    .valuesBlockContainer
    {
      align-items: flex-start;
    }

    sup {
      top: -1em;
    }

    header {
      @media screen and (min-width: $mobile+1) {
        height: 45px;
      }
    }

    .footerContainer {
      z-index: 1;
      height: 145px;

      .zkSyncFooter {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: auto;
        opacity: 0.6;
      }
    }

    footer {
      position: absolute;
      bottom: 25px;
      left: 0;
      width: 100%;
      height: max-content;
    }
  }

  .zkSyncLogoFull {
    height: 2.5rem;
  }

  @media screen and (max-width: $mobile) {
    /* box-shadow: none; */
    height: max-content;

    .valuesBlockContainer {
      .valuesBlockLeft {
        max-width: 70%;
      }
    }
    .infoBlock {
      height: auto;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .linkDefault {
    font-weight: 300;
    font-size: 14px;
  }
}
