.lineTableHeader {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 100%;
  grid-template-columns: 65px 90px 1fr max-content;
  align-items: center;
  width: 100%;
  height: 29px;

  .tableItem {
    color: $black2;
    font-weight: 300;
    font-size: 14px;
    font-family: $firaCondensed;
    line-height: 1.4;

    &:last-child {
      justify-self: end;
      width: max-content;
    }

    letter-spacing: -0.025em;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: 45px 1fr max-content;
    margin: 0;
  }
}

.darkMode .lineTableHeader {
  .tableItem {
    color: $gray;
  }
}
