.lineTableHeader {
  width: 100%;
  height: 29px;
  display: grid;
  grid-template-columns: 65px 90px 1fr max-content;
  grid-template-rows: 100%;
  grid-gap: 5px;
  align-items: center;

  .tableItem {
    font-size: 14px;
    color: $black2;
    font-family: $firaCondensed;
    &:last-child {
      width: max-content;
      justify-self: end;
    }
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -0.025em;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: 45px 1fr max-content;
  }
}

.darkMode .lineTableHeader {
  .tableItem {
    color: $gray;
  }
}
